keyboard
opencv-python
pyautogui
paddlepaddle
paddleocr
pywin32
pynput
pyinstaller
ftfy 
imagesize 
lxml 
opencv-contrib-python 
openpyxl 
premailer 
pyclipper 
pypdfium2 
scikit-learn 
shapely 
tokenizers 
einops 
jinja2 
regex 
tiktoken